@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model PostViewModel
@{
}
<div class="admin-edit-container">
    <form asp-controller="AdminPanel" asp-action="Edit" method="post" enctype="multipart/form-data" class="admin-edit-form">

        @* <-------- ENCTYPE MUSI BYC INACZEJ NIE DZIALA !!!!!!!!!*@
        <div class="form-center">
            <input asp-for="Id" type="hidden" />
            <input asp-for="CurrentImage" type="hidden" />
            <input asp-for="ApplicationUserName" type="hidden" />
            <input asp-for="Created" type="hidden" />
            <div>
                <input asp-for="Title" placeholder="Title" />
                <span asp-validation-for="Title" class="error-validation"></span>

            </div>
            <div>
                <input asp-for="Body" placeholder="Body" />
                <span asp-validation-for="Title" class="error-validation"></span>

            </div>
            <div>
                <input asp-for="Image" class="image-button" />
                <input asp-for="ApplicationUserId" type="hidden" />
            </div>
            <input type="submit" value="submit" class="admin-edit-button"/>
        </div>
    </form>
</div>