@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model PostViewModel
@{
}

<div>
    <form asp-controller="AdminPanel" asp-action="Edit" method="post" enctype="multipart/form-data">
        @* <-------- ENCTYPE MUSI BYC INACZEJ NIE DZIALA !!!!!!!!!*@
        <input asp-for="Id" type="hidden" />
        <input asp-for="CurrentImage" type="hidden" />
        <input asp-for="ApplicationUserName" type="hidden" />
        <input asp-for="Created" type="hidden" />
        <div>
            <label> Title </label>
            <input asp-for="Title" />
        </div>
        <div>
            <label> Body </label>
            <input asp-for="Body" />
        </div>
        <div>
            <label> Image </label>
            <input asp-for="Image" />
        <input asp-for="ApplicationUserId" type="hidden" />
        </div>
        <input type="submit" value="submit" />
    </form>
</div>